*{
    margin: 0;padding: 0;
}

.header-top{
    position: relative;
    display: flex;justify-content: space-between;background-color: black;
    color: white;padding-bottom: 40px;position: relative;
}
.addresse{
    position: absolute;top: 9px; left: 39px ;font-style: italic;font-size: 0.85rem;
}
.horaire{
    position: absolute;top: 9px;left: 470px;font-style: italic;font-size: 0.85rem;
}
.num{
    position: absolute;top: 9px;right: 60px;font-style: italic;font-size: 0.85rem;
}
.header-foot{
    background-color: rgb(246, 237, 225);padding-top: 8px;padding-bottom: 10px;
    position: sticky;z-index: 100;top: 0;
}
.restname{
    font-size: 1.3rem;letter-spacing: 3px;margin-left: 39px;
}
.logolink{
    text-decoration: none;color: black;
}
.resttype{
    font-size: 0.7rem;letter-spacing: 1px;margin-top: 2px;
    text-transform: uppercase;margin-left: 39px;
}
.navb{
    display: flex;justify-content: space-between;
}
.ul1{
    display: flex;list-style-type: none;margin-left: 100px;
    margin-top: 12px;
}
.navlink{
    margin-left: 30px;text-transform: uppercase;
}
.reser-head{
    margin-right: 80px;border: 2px solid transparent;
    background-color: rgb(205, 156, 104);padding-right: 15px;
    padding-left: 15px;font-size: 1rem;padding-top: 5px;
    padding-bottom: 12px;text-transform: uppercase;display: flex;justify-content: center;
    
}
main{
     background-color: rgb(242, 233, 224);
}
.accueil{
    background-color: black;height: 80vh;
}
.article{
    font-size: 2.9rem;text-align: center;
}
.abaya{
    font-size: 2rem;margin-left: 39px;
}
.img1{
    height: 600px;width: 370px;
}
.first-col{
    display: flex;justify-content: space-between;
}
.sec-col{
    display: flex;justify-content: space-between;margin-top: 70px;
}
.imgdiv2{
    height: 600px;width: 370px;
    background-color: rgb(116, 119, 118);
    text-align: center;position: relative;
}
.photo{
    position: absolute;top:300px;left: 135px;
}
#img1{
    margin-left: 35px;
    transition: 0.5s ease-in;
}
#img1:hover{
    scale: 1.02;
}
#img3{
    margin-right: 35px;
    transition: 0.5s ease-in;
}
#img3:hover{
    scale: 1.02;
}
#img2{
    
    transition: 0.5s ease-in;
}
#img2:hover{
    scale: 1.02;
}




@media all and  (max-width:413px)
{
    header{
        width: 100%;
    }
    .header-top
    {
        display: none;
    }
    .navl{
        display: none;
    }
    .reser-head{
        display: none;
    }
    .first-col{
        display: flex;flex-direction: column;width: 100%;
    }
    .sec-col{
        display: flex;flex-direction: column;margin-top: 30px;
    }
    #img1{
        margin-left: 10px;margin-bottom: 30px;margin-right: 10px;
    }
    #img2{
        margin-left: 10px;margin-bottom: 30px;margin-right: 10px;
    }
    #img3{
        margin-left: 10px;margin-right: 10px;
    }
     #img4{
        margin-left: 10px;margin-right: 10px;
    }
     #img5{
        margin-left: 10px;margin-top: 30px;margin-right: 10px;
    }
     #img6{
        margin-left: 10px;margin-top: 30px;margin-right: 10px;
    }
    .img1{
        width: 100%;
    }
    .imgdiv2{
        width: 93.77%;margin-right: 10px;
    }
}